<% @title = "Sign In" %>
<% @custom_class = "login" %>
<section class="crayola-layout d-grid h-100" data-path="<%= request.env["PATH_INFO"] %>">
  <div class="form-login crayola-card py-4 px-4 vertical-middle">
  <section class="welcome">
  <div class="mx-auto text-center">
    <%= image_tag Settings::General.original_logo.presence || "/images/default/mieducacion_default_siteLogo.svg", :id => "site-logo", :alt => "Site logo", :draggable => false %>
    </div>
    <div class="mx-auto text-center mt-2">
     <%= image_tag("illustrations/welcome_login.png", width: 200) %>
    </div>
   

    <h2 class="welcome-title mt-0 text-center">Welcome back</h2>
    <h3 class="welcome-subtitle text-center">Ready to go back to school?</h3>
  </section>

  <section class="form pt-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="md-form md-bg">
    <%= f.email_field :email, autofocus: true, :required => true, class: "form-control mb-0" %>
    <%= f.label :email %>
  </div>

    <div class="md-form md-bg mt-0">
    <%= f.password_field :password, :required => true, autocomplete: "current-password", class: "form-control mb-0" %>
    <%= f.label :password %>
  </div>


  <% if devise_mapping.rememberable? %>
    <div class="custom-control custom-checkbox">
      <%= f.check_box :remember_me, class: "custom-control-input" %>
      <%= f.label :remember_me, class: "custom-control-label" %>
    </div>
  <% end %>

  <div class="d-grid gap-2 col-6 mx-auto mt-4">
    <%= f.button "Log in", class: "btn btn-block btn-dark btn-block px-2", type: "submit" %>
  </div>
<% end %>
  </section>

  </div>
</section>