<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title><%= site_name.to_s %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
<%= render partial: "layouts/head" %>
      <mieducacion-assets>
         <mieducacion-assets-stylesheets>
      <%= render partial: "partials/stylesheet" %>
         </mieducacion-assets-stylesheets>
         <mieducacion-preload-json>
            <div class="hidden" id="data-preloaded" data-preloaded="<%= preloaded_json %>"></div>
         </mieducacion-preload-json>
      </mieducacion-assets>
      <%= render partial: "partials/opengraph" %>
      <script type="text/x-template" data-template-name="additional-nav-buttons">
            <v-btn text> I am a Button rendered on a slot</v-btn>
      </script>
   </head>    
   <body
      class="app-body<% if device == "mobile" %> is-mobile<% end %>"
      data-user-status="<%= j(user_logged_in_status) %>">
      <!--The application is rendered at runtime on client-side-->
      <div id="mieducacion">
         <%- if include_splash? %>
            <%= render partial: "common/splash" %>
         <%- end %>
      </div>
      <noscript data-path="<%= request.env["PATH_INFO"] %>">
         <%= render partial: "layouts/noscript_header" %>
         <div>
            <!-- Fallback in case of JavaScript disabled / Crawler -->
    <main class="container mx-auto mt-28 px-5 flex">
              <%= yield %>
    </main>
            <!-- End of Fallback -->
         </div>
         <%= render partial: "layouts/noscript_footer" %>
      </noscript>
      <%= javascript_packs_with_chunks_tag "start-mieducacion", defer: true %>
   </body>
</html>