<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | <%= Settings::General.site_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= render partial: "layouts/head" %>
      <%= stylesheet_pack_tag "mieducacion", media: "all" %>
  </head>
  <body class="devise-auth<% if device == "mobile" %> is-mobile<% end %> <%= @custom_class %>">
    <%= yield %>
  </body>
</html>
