<!DOCTYPE html>
<html>
   <head>
      <title><%= SiteSettings.site_title %></title>
      <script type="text/javascript">
         window.MiEducacion = {
           SiteSettings: <%= client_side_app_settings.to_json.html_safe %>,
           currentUser: <%= current_user.to_json.html_safe %>
         };
      </script>   
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
       <%= render partial: "common/mieducacion_stylesheet" %>
      <%= javascript_pack_tag 'application' %>
      <%= javascript_pack_tag 'mieducacion/mieducacion' %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
      <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
      <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
   </head>
   <body class="app-body<% if device == "mobile" %> is-mobile<% end %>">
      <!--The application is rendered at runtime on client-side-->
      <div id="mieducacion"></div>
      <noscript data-path="<%= request.env['PATH_INFO'] %>">
         <%= render partial: "layouts/noscript_header" %>
         <div>
            <!-- Fallback in case of JavaScript disabled / Crawler -->
            <%= yield %>
            <!-- End of Fallback -->
         </div>
         <%= render partial: "layouts/noscript_footer" %>
      </noscript>
   </body>
</html>