<!DOCTYPE html>
<html>
  <head>
    <title><%= SiteSettings.site_title %></title>
    <script type="text/javascript">
    window.MiEducacion = window.MiEducacion || {};
    window.MiEducacion.SiteSettings = <%= client_side_app_settings.to_json.html_safe %>;
    window.MiEducacion.currentUser = <%= current_user.to_json.html_safe %>;
    </script>   

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'themes/default/mieducacion', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'mieducacion/mieducacion' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/twemoji-awesome@1.0.6/dist/twemoji-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
  </head>
  <body class="app-body<% if device == "mobile" %> is-mobile<% end %>">
    <%= yield %>
  </body>
</html>
