<!DOCTYPE html>
<html class="mieducacion-wizard">
   <head>
      <title>Wizard | <%= site_name.to_s %></title>
      <%= render partial: "layouts/head" %>
      <%= stylesheet_pack_tag "mieducacion-app", media: "all" %>
   </head>
   <body class='wizard'>
      <div id='wizard-main'>
         <div class="progress">
            <div class="progress-bar" style="width: <%= @progress %>%"></div>
         </div>
         <%= yield %>
      </div>
   </body>
</html>